label for="user_email" email :
input type="text" ng-model="signInC.user.email" id="user_email"
label for="user_password" password :
input type="text" ng-model="signInC.user.password" id="user_password"
input type="submit" ng-click="signInC.signIn(signInC.user.email, signInC.user.password)"
